*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Inter', sans-serif;
}

.container{
    display:flex;
    height:100vh;
}

/* LEFT */
.left{
    flex:1.6;
    background:
        linear-gradient(to right,
            rgba(0,0,0,.5),
            rgba(0,0,0,.15)
        ),
        url("image/bgn.png");

    background-size:cover;
    background-position:center;
    filter: brightness(1.15);
}



/* RIGHT */
.right{
    flex:1;
    background:#f3df57;
    display:flex;
    justify-content:center;
    align-items:center;
}

/* CARD */
.card{
    width:370px;
    background:#f8f3dc;
    padding:40px 35px;
    border-radius:26px;
    text-align:center;
    box-shadow:0 20px 40px rgba(0,0,0,.15);
}

/* LOGO */
.logo{
    width:70px;
    margin-bottom:8px;
}

h2{
    font-weight:600;
}

.sub{
    font-size:12px;
    color:#777;
    margin-bottom:18px;
}

/* INPUT */
.input-box{
    display:flex;
    align-items:center;
    background:white;
    border-radius:10px;
    padding:10px;
    margin-top:12px;
    border:1px solid #6ea8ff;
}

.input-box span{
    margin-right:8px;
}

.input-box input{
    border:none;
    outline:none;
    width:100%;
    font-size:14px;
}

/* LOGIN BUTTON */
.login-btn{
    width:100%;
    padding:11px;
    margin-top:16px;
    border:none;
    border-radius:12px;
    background:#ff9f1c;
    color:white;
    font-weight:600;
    cursor:pointer;
    transition:.25s;
}

.login-btn:hover{
    background:#ff8700;
    transform:translateY(-2px);
}

/* LINKS */
.links{
    display:flex;
    justify-content:space-between;
    font-size:12px;
    margin:10px 0 5px;
}

.links a{
    text-decoration:none;
    color:#1a73e8;
}

/* DIVIDER */
.divider{
    margin:14px 0;
    position:relative;
}

.divider::before{
    content:"";
    height:1px;
    width:100%;
    background:#ddd;
    position:absolute;
    top:50%;
    left:0;
}

.divider span{
    background:#f8f3dc;
    padding:0 10px;
    position:relative;
    font-size:12px;
    color:#777;
}

/* SOCIAL */
.social{
    width:100%;
    padding:10px;
    border-radius:10px;
    border:1px solid #ddd;
    background:white;
    margin-top:10px;
    cursor:pointer;
    display:flex;
    align-items:center;
    justify-content:center;
    gap:8px;
    font-size:14px;
    transition:.2s;
}

.social img{
    width:18px;
}

.social:hover{
    transform:translateY(-2px);
    box-shadow:0 6px 15px rgba(0,0,0,.1);
}

/* COPYRIGHT */
small{
    display:block;
    margin-top:18px;
    font-size:10px;
    color:#666;
}
