*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Inter', sans-serif;
}

.container{
    display:flex;
    height:100vh;
}

/* LEFT */
.left{
    flex:1.6;
    background:
        linear-gradient(to right,
            rgba(0,0,0,.5),
            rgba(0,0,0,.15)
        ),
        url("image/bgn.png");

    background-size:cover;
    background-position:center;
    filter: brightness(1.15);
}


/* RIGHT */
.right{
    flex:1;
    background:#f4df57;
    display:flex;
    justify-content:center;
    align-items:center;
}

/* CARD */
.card{
    width:340px;
    background:#f8f3dc;
    padding:35px;
    border-radius:30px;
    text-align:center;
    box-shadow:0 20px 40px rgba(0,0,0,.15);
}

/* LOGO */
.logo{
    width:75px;
    margin-bottom:8px;
}

.sub{
    display:block;
    font-size:12px;
    color:#777;
    margin-bottom:15px;
}

/* LABEL */
label{
    display:block;
    text-align:left;
    font-size:12px;
    color:#1e88e5;
    margin-top:10px;
}

/* INPUT */
input{
    width:100%;
    padding:9px;
    border-radius:8px;
    border:1px solid #8bbcff;
    margin-top:4px;
    outline:none;
}

input:focus{
    border-color:#2b7cff;
}

/* BUTTON */
button{
    width:100%;
    padding:11px;
    margin-top:16px;
    border:none;
    border-radius:12px;
    background:#ff9f1c;
    color:white;
    font-weight:600;
    cursor:pointer;
    transition:.25s;
}

button:hover{
    background:#ff8700;
}

/* LOGIN LINK */
.login-link{
    font-size:12px;
    margin-top:10px;
}

.login-link a{
    color:#1a73e8;
    text-decoration:none;
}

/* COPYRIGHT */
small{
    display:block;
    margin-top:14px;
    font-size:10px;
    color:#666;
}
